.icon {

    &__heart {
        cursor: pointer;

        &:hover {
            animation: bigger 0.2s linear forwards;
        }
    }

    &__eye {
        cursor: pointer;

        &:hover {
            animation: bigger 0.2s linear forwards;
        }


    }

    @keyframes bigger {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.3);
        }
    }
}